main {

   
    .w-100 {
        @include sizes(400px, 300px, 10px);
    }


    .intro {
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        font-style: italic;
    }
    .intro2 {
        @extend .intro;
        color: red;
    }

}